#cr-stage {
	border:1px solid black;
	margin:auto;
	font-family: Arial
}

.box {
	border:3px solid #FFE2B3;
	border-radius: 5px;
	background: #ffde98; /* Old browsers */
	background: -moz-linear-gradient(top, #ffde98 0%, #ffbd31 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffde98), color-stop(100%,#ffbd31)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffde98 0%,#ffbd31 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffde98 0%,#ffbd31 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffde98 0%,#ffbd31 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde98', endColorstr='#ffbd31',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffde98 0%,#ffbd31 100%); /* W3C */
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/;
	-ms-filter: "FlipH";
}

a {
	cursor: pointer;
}

b {
	font-family: Georgia
}

.button {
	background:#B0E8DC;
	border-radius: 5px;
	border:2px solid #fff;
	padding:5px 10px;
	font-family: Arial;
}

.tab {
	background:#B0E8DC;
	border:2px solid #fff;
	padding:4px 25px;
	font-family: Arial;
}

a.active {
	border-bottom:0;
	background:#62D2BA;
	padding:6px 25px;
}

.forfeit {
	float: right;
	margin-top:-20px;
	background: #FF4545;
	color: #fff;
}

.profile {
	width:50px;
	height:50px;
	border:1px solid #fff;
	background:#fff;
	float:left
}

.text {
	font-size:18px;
	padding: 5px;
}

.stats {
	border:2px solid #62D2BA;
	background:#fff;
	margin-top:5px;
	height: 40px;
	font-size: 14px;
}

.stats span {
	float: left;
	display: block;
	width: 80px;
	margin-bottom:5px;
}

.health {
	width: 135px;
	height: 15px;
	background:#fff;
	padding:2px;
	float: left;
	margin: 0 0 0 5px;
}

.health div {
	background: green;
	width:100%;
	height:100%;
}

.clearer {
	clear:both;
}

#train-left h2, #train-right h2, #battle-left h2, #battle-right h2 { float:left; margin-left:5px; }

#battle-menu, #train-menu {
	width:500px;
	height:180px;
	margin:auto;
	bottom:-6px;
	left: 150px;
	position:absolute;
	padding:5px;
}

#train-list {
	border:2px solid #fff;
	background:#62D2BA;
	padding:5px;
	height:120px;
	margin-top:3px;
}

#train-list div.inner {
	background:#fff;
	width:100%;
	height:100%;
	overflow: auto;
}

#train-list h3 {
	margin: 0;
}

#train-list .move {
	padding: 10px;
	cursor: pointer;
}

#train-list .move:nth-child(odd) {
	background: #eee;
}

#train-left, #battle-left {
	width:200px;
	height:100px;
	position:absolute;
	left: 10px;
	top: -4px;
	padding:5px;
}

#train-right, #battle-right {
	width:200px;
	height:100px;
	position:absolute;
	right: 10px;
	top: -4px;
	padding:5px;
}

#train-screen {
	position: absolute;
	left: 200px;
	top: 300px;
	padding: 20px
}

#login { 
	width: 300px;
	height: 180px;
	left: 250px;
	top: 200px;
	position: absolute;
	padding:20px;
}

#login label, #register label {
	float: left;
	width: 300px;
	display: block;
	margin: 10px 0;
	font-size: 18px;
	line-height: 40px
}

#login input, #register input {
	float: right;
	width: 180px;
	font-size: 18px;
	padding: 5px;
}

#register { 
	width: 300px;
	height: 250px;
	left: 250px;
	top: 175px;
	position: absolute;
	padding:20px;
}

#dialog {
	width: 600px;
	margin: auto;
	background: #111;
	opacity: 0.8;
	height: 30px;
	border: 3px solid #666;
	border-radius: 4px;
	display: none;
	position: absolute;
	color: #eee;
	padding:5px;
	left: 100px;
	top: -50px;
	line-height: 25px;
	text-align: center
}

#choose {
	position: absolute;
	top: 150px;
	left:150px;
}

#choose .box {
	width: 150px;
	height: 250px;
	float: left;
	margin-right: 20px;
	text-align: center;
	padding: 10px 5px 0 5px;
	cursor: pointer;
}

#choose .box div {
	width: 128px;
	height: 128px;
	background-color: #fff;
	background-image: url('images/aliens/choose.png');
	margin: auto;
	border: 2px solid #62D2BA;
}

#choose .box span {
	font-size: 12px
}

#choose .one div {
	background-position: 0 0;
	left: 50px;
}

#choose .two div {
	background-position: -128px 0;
	left: 220px;
}

#choose .three div {
	background-position: -256px 0;
	left: 500px;
}

#aliens, #items {
	height:100%;
	padding: 20px;
}

#aliens .alien, #items .item {
	margin-bottom:10px;
	padding: 10px
}

#aliens .alien h2, #items .item h2 {
	margin-left: 60px;
}

#aliens .alien span, #items .item span {
	margin: 0 10px 0 10px;
}

#aliens .actions, #items .actions {
	float: right;
	margin-top: -30px
}

#menu {
	background: #444;
	color: #eee;
	height: 30px;
	border-bottom:2px solid #aaa
}

h2 {
	margin:-2px 0 5px 0;
	text-shadow: #fff 1px 1px 0;
	font-family:'Neucha', sans-serif;
	font-weight:normal
}

h3 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight:normal;
}